name: Ruby

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        ruby: ['jruby-9.2', '2.4', '2.5', '2.6', '2.7', '3.0']
        platform: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Test
      run: bundle exec rake test
