name: Ruby

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        ruby: [2.4, 2.5, 2.6, 2.7]
        platform: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: eregon/use-ruby-action@master
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Build and Test
      shell: bash
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        bundle exec rake
